Package: [[name]]
Version: [[version]]
Section: misc
Architecture: all
Depends: openjdk-7-jre-headless
Priority: extra
Replaces: nmdp-ngs
Maintainer: Jason Brelsford <jbrelsf2@nmdp.org>
Homepage: https://github.com/nmdp-bioinformatics/ngs
Description: Next generation sequencing (NGS/HTS) tools.
Distribution: development